.itemsTable {
	text-align: center;
}

.itemsTable td, .itemsTable th {
	padding-left: 10px;
	padding-right: 10px;
}

input.name {
	width: 150px;
}

input.address {
	width: 300px;
}

.error {
	color: red;
}

.success {
	color: green;
}

.toolButton {
	display: inline;
}